<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsPIM.Properties.Settings.FazendaConnectionString"
            connectionString="Data Source=FELIPE\SQLEXPRESS;Initial Catalog=Fazenda;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>